extends layout

block content
  strong #{gameMaster.name}'s event collection
  #collectedEvents
    table
      tbody
      each item in collectedEvents
        form(method='POST')
          tr
            td #{item.name}
            td
              each actionTime in actionTimes
                - let value = item.deltas.get(actionTime.name)
                - let show = (value != 0)
                if show
                  output #{actionTime.name}: #{value} &nbsp;
            td(style="background-color:"+item.color) &nbsp;&nbsp;&nbsp;
            td
              button(type='submit', formaction='/gm/' + item._id + '/deleteEvent') Delete
      else
        tr
          td No collected events




