doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    if(tabulatorJS)
      link(rel='stylesheet', href='/css/tabulator.css')

  #container
    #header
      h1 The Hero Instant Time Tracker
    #wrapper
      #content
        block content
    #navigation
      p
        strong Navigation Menu
      ul
        if (user)
          li
            a(href='/logout') Logout #{user.name}
          li
            a(href='/updateGM') Update User details
          li
            a(href='/gm') GM Sessions
          li
            a(href='/gm/collection') GM Collection

          li
            a(href='/powersUpload') Powers Upload (early access)
        else
          li
            a(href='/login') GameMaster Login
      ul
        li
          a(href='/playerSessions') Player Session views
        li
          a(href='/powerSetBrowser') PowerSet list
        li
          a(href='/powerBrowser') Powers list

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/javascripts/global.js')
  script(src='/javascripts/table-renderer.js')

  if (js)
    script(src='/javascripts/'+js)
  if (refresh)
    script(src='/javascripts/refresh.js')
  if (announce)
    script(src='/javascripts/announce.js')
  if(tabulatorJS)
    script(src='/js/tabulator.js')
  if(powerBrowserJS)
    script(src='/javascripts/powerBrowser.js')
  if(powerSetJS)
    script(src='/javascripts/powerSet.js')

