extends layout
block content
  form(method='POST', action='/login')
    table
      tr
        td Username
        td
          input(type='text', name='username', placeholder='Username')
      tr
        td Password
        td
          input(type='password' name='password' placeholder='Password')
      tr
        td
        td
          button(type='submit') Login
  output.error #{error}





