extends layout
block content
  form(method='POST', action='/updatePassword')
    table
      tr
        td New password
        td
          input(type='password' name='password1' placeholder='New password', required=true)
      tr
        td Confirm new password
        td
          input(type='password' name='password2' placeholder='Confirm new password', required=true)
      tr
        td
        td
          button(type='submit') Update Password
    output.error #{error}